<div class="gallery-wrapper" [ngClass]="{'hidden': sceleton}" >
  <header>
    <div class="title">
      <p *ngIf="!title === false">Recent</p><span>Works</span>
    </div>
    <ul class="gallery-btn">
      <li *ngFor="let btn of filterBtn">
        <a href="javascript:void(0)" [ngClass]="{'active': btn.active === true}" (click)="filterGallery(btn.name , $event)">
          {{btn.name}}
        </a>
      </li>
    </ul>
  </header>
  <main>
    <div class="row" #cols [ngStyle]="{'max-height': totalColHeight}" >
      <div class="col" *ngFor="let item of data">
        <div class="box-item">
          <div class="image">
            <a href="javascript:void(0)" class="has-popup-music">
              <img src="{{item.img}}" alt="">
              <span class="info">
                <i class="fas {{item.icon}} fa-2x"></i>
              </span>
            </a>
          </div>
          <div class="desc">
            <a href="javascript:void(0)" class="name has-popup">{{item.name}}</a>
            <div class="category">{{item.category}}</div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <ng-container #modal></ng-container>
</div>

<div class="gallery-wrapper sceleton" *ngIf="sceleton" [ngClass]="{'show': sceleton}">
  <header>
    <div class="title">
      <p *ngIf="!title === false">Recent</p><span>Works</span>
    </div>
    <ul class="gallery-btn">
      <li *ngFor="let btn of filterBtn">
        <a href="javascript:void(0)" [ngClass]="{'active': btn.active === true}" (click)="filterGallery(btn.name , $event)">
        </a>
      </li>
    </ul>
  </header>
  <main>
    <div class="row">
      <div class="col">
        <div class="box-item">
          <div class="image">
          </div>
          <div class="desc">
            <a href="javascript:void(0)" class="name has-popup"></a>
            <div class="category"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-item">
          <div class="image">
          </div>
          <div class="desc">
            <a href="javascript:void(0)" class="name has-popup"></a>
            <div class="category"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-item">
          <div class="image">
          </div>
          <div class="desc">
            <a href="javascript:void(0)" class="name has-popup"></a>
            <div class="category"></div>
          </div>
        </div>
      </div>
      <div class="col" >
        <div class="box-item">
          <div class="image">
          </div>
          <div class="desc">
            <a href="javascript:void(0)" class="name has-popup"></a>
            <div class="category"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <ng-container ></ng-container>
</div>

