<div class="about-container">
  <header class="about-header"></header>
  <section class="about">
    <header>
      <p>about</p><span>me</span>
    </header>
    <div class="row">
      <div class="col ">
        <p>I am Ganesh Vishakarma, web designer from Thane, maharashtra, India. I have rich experience in web site design and building
          and customization, also I am good at wordpress. I love to talk with you about our unique.</p>
      </div>
      <div class="col ">
        <div class="details">
          <p>Age . . . . .</p>
          <p>24</p>
        </div>
        <div class="details">
          <p>Residence . . . . .</p>
          <p>India</p>
        </div>
        <div class="details">
          <p>Freelance . . . . .</p>
          <p>Unavailable</p>
        </div>
        <div class="details">
          <p>Address . . . . .</p>
          <p>Thane, maharashtra</p>
        </div>
      </div>
    </div>
  </section>
  <section class="service">
    <header>
      <p>my</p><span>services</span>
    </header>
    <div class="row">
      <div class="col">
        <div>
          <i class="fas fa-code fa-lg"></i>
        </div>
        <h5>Web Development</h5>
        <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
      </div>
      <div class="col">
        <div>
          <i class="fas fa-music fa-lg"></i>
        </div>
        <h5>Photo Editing</h5>
        <p>Basic photo Editing, photo customization Photoshop</p>
      </div>
      <div class="col">
        <div>
          <i class="fas fa-bullhorn fa-lg"></i>
        </div>
        <h5>UI</h5>
        <p>Logo design, wireframeing, prototyping</p>
      </div>
      <div class="col">
        <div>
          <i class="fas fa-gamepad fa-lg"></i>
        </div>
        <h5>Photography</h5>
        <p>Mature Photography, Mildlife Photography, Micro Photography</p>
      </div>
    </div>
  </section>
  <!-- <section class="pricing">
    <header class="jointed">
      <p>p</p><span>ricing</span>
    </header>
    <div class="row">
      <div class="col col-6">
        <div class="pricing-item">
          <div class="icon"><i class="fas fa-tachometer-alt fa-lg"></i></div>
          <div class="name">Basic</div>
          <div class="amount">
            <span class="dollar">$</span>
            <span class="number">22</span>
            <span class="period">hour</span>
          </div>
          <div class="feature-list">
            <ul>
              <li>Web Development</li>
              <li>Advetising</li>
              <li>Game Development</li>
              <li class="strick">Music Writing</li>
              <li class="strick">Photography <strong>new</strong></li>
            </ul>
          </div>
          <div class="lnks">
            <a href="#" class="lnk">
              <span class="text">Buy Basic</span>
              <i class="fas fa-tachometer-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="pricing-item">
          <div class="icon"><i class="fas fa-tachometer-alt fa-lg"></i> </div>
          <div class="name">Pro</div>
          <div class="amount">
            <span class="dollar">$</span>
            <span class="number">48</span>
            <span class="period">hour</span>
          </div>
          <div class="feature-list">
            <ul>
              <li>Web Development</li>
              <li>Advetising</li>
              <li>Game Development</li>
              <li>Music Writing</li>
              <li>Photography <strong>new</strong></li>
            </ul>
          </div>
          <div class="lnks">
            <a href="#" class="lnk">
              <span class="text">Buy Pro</span>
              <i class="fas fa-tachometer-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="funFact">
    <header>
      <p>fun</p><span>fact</span>
    </header>
    <div class="row">
      <div class="col col-3 right-gradient">
        <div class="icon">
          <i class="fas fa-compact-disc fa-2x"></i>
        </div>
        <p>98* Photos Clicked</p>
      </div>
      <div class="col col-3 right-gradient">
        <div class="icon">
          <i class="fas fa-trophy fa-2x"></i>
        </div>
        <p>2+ website created</p>
      </div>
      <div class="col col-3 right-gradient">
        <div class="icon">
          <i class="fas fa-mug-hot fa-2x"></i>
        </div>
        <p>1000 Cups of coffee</p>
      </div>
      <div class="col col-3">
        <div class="icon">
          <i class="fas fa-flag fa-2x"></i>
        </div>
        <p>10 states Visited</p>
      </div>
    </div>
  </section>
  <section class="clients">
    <header class="jointed">
      <p>c</p><span>lients</span>
    </header>
    <div class="row">
      <div class="col  right-gradient">
        <img src="../../assets/img/client_1.png" alt="">
      </div>
      <div class="col  right-gradient">
        <img src="../../assets/img/client_2.png" alt="">
      </div>
      <div class="col  right-gradient">
        <img src="../../assets/img/client_3.png" alt="">
      </div>
      <div class="col ">
        <img src="../../assets/img/client_4.png" alt="">
      </div>
    </div>
  </section>
  <section class="testimonials">
    <header class="jointed">
      <p>t</p><span>estimonials</span>
    </header>
    <div class="slider">
      <div class="slide" id="s1">
        <div class="text">
          <p>{{quote}}</p>
        </div>
        <div class="user">
          <div><img src="/assets/img/man1.jpg" alt=""></div>
          <h5>{{writer}}</h5>
          <p>Art Director</p>
        </div>
      </div>
      <!-- <div class="slide" id="s2">
        <div class="text">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit.</p>
        </div>
        <div class="user">
          <div><img src="../../assets/img/man1.jpg" alt=""></div>
          <h5>Helen Floyd</h5>
          <p>Art Director</p>
        </div>
      </div> -->
      <!-- <div class="slide" id="s3">
        <div class="text">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit.</p>
        </div>
        <div class="user">
          <div><img src="../../assets/img/man1.jpg" alt=""></div>
          <h5>Helen Floyd</h5>
          <p>Art Director</p>
        </div>
      </div> -->
    </div>
  </section>
  <footer class="about-footer"></footer>
</div>
 