<div class="about-container">
  <header class="about-header"></header>
  <section class="about">
    <header>
      <p>about</p><span>me</span>
    </header>
    <div class="row">
      <div class="col ">
        <p>{{aboutMe}}</p>
      </div>
      <div class="col ">
        <div class="details">
          <p>Age . . . . .</p>
          <p>{{age}}</p>
        </div>
        <div class="details">
          <p>Residence . . . . .</p>
          <p>{{Residence}}</p>
        </div>
        <div class="details">
          <p>Freelance . . . . .</p>
          <p>{{Freelance}}</p>
        </div>
        <div class="details">
          <p>Address . . . . .</p>
          <p>{{Address}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="service">
    <header>
      <p>my</p><span>services</span>
    </header>
    <div class="row">
      <div class="col" *ngFor="let service of myService">
        <div>
          <i class="fas {{service.icon}} fa-lg"></i>
        </div>
        <h5>{{service.TAG}}</h5>
        <p>{{service.serviceDeatil}}</p>
      </div>
    </div>
  </section>
  <section class="funFact">
    <header>
      <p>fun</p><span>fact</span>
    </header>
    <div class="row">
      <div class="col col-3 right-gradient" *ngFor="let item of funfact; let i=index">
        <div class="icon">
          <i class="fas {{item.icon}} fa-2x"></i>
        </div>
        <p>{{item.data}}</p>
      </div>
    </div>
  </section>
  <!-- <section class="clients">
    <header class="jointed">
      <p>c</p><span>lients</span>
    </header>
    <div class="row">
      <div class="col  right-gradient" *ngFor="let client of clients">
        <img src="{{client.url}}" alt="clients">
      </div>
    </div>
  </section> -->
  <section class="testimonials">
    <header class="jointed">
      <p>t</p><span>estimonials</span>
    </header>
    <div class="slider">
      <div class="slide" id="s1">
        <div class="text">
          <p>{{quote}}</p>
        </div>
        <div class="user">
          <div><img src="/assets/img/man1.jpg" alt=""></div>
          <h5>{{writer}}</h5>
          <p>{{designation}}</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="about-footer"></footer>
</div>
 