<div class="resume-container">
  <header class="resume-header"></header>
  <section class="resume">
    <header class="jointed">
      <p>r</p><span>esume</span>
    </header>
    <div class="row">
      <div class="col right-gradient">
        <div class="header">
          <i class="fas fa-briefcase fa-2x"></i>
          <p>EXPERIENCE</p>
        </div>
        <div class="row exp-detail">
          <div class="col col-12" *ngFor="let exp of experience">
            <p class="date">{{exp.date}}</p>
            <p class="name">{{exp.tag}}</p>
            <p class="company">{{exp.place}}</p>
            <p class="discription">{{exp.discription}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="header">
          <i class="fas fa-graduation-cap fa-2x"></i>
          <p>EDUCATION</p>
        </div>
        <div class="row edu-detail">
          <div class="col col-12" *ngFor="let edu of education">
            <p class="date">{{edu.date}}</p>
            <p class="name">{{edu.tag}}</p>
            <p class="company">{{edu.place}}</p>
            <p class="discription">{{edu.discription}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <header>
      <p>my</p><span>skills</span>
    </header>
    <div class="row">
      <div class="col col-6 right-gradient">
        <div class="header">
          <i class="far "></i>
          <i class="fas fa-object-group fa-2x"></i>
          <p>DESIGN</p>
        </div>
        <div class="row design">
          <div class="col col-12" *ngFor="let Design of design">
            <progress-bar [value]="Design.percent" [name]="Design.title" [type]="'bar'"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="header">
          <i class="fas fa-flag fa-2x"></i>
          <p>LANGUAGES</p>
        </div>
        <div class="row language">
          <div class="col col-12" *ngFor="let lang of language">
            <progress-bar [value]="lang.value" [name]="lang.name" [type]="'dots'"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col col-6 right-gradient">
        <div class="header">
          <i class="fas fa-code fa-2x"></i>
          <p>CODING</p>
        </div>
        <div class="row coding">
          <div class="col col-5" *ngFor="let code of coding">
            <progress-bar [value]="code.value" [name]="code.name" [type]="'donut'"></progress-bar>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
      <div class="col col-6">
        <div class="header">
          <i class="fas fa-book fa-2x"></i>
          <p>KNOWLEDGE</p>
        </div>
        <ul class="knolagdge">
          <li *ngFor="let know of knowledge">
            <i class="fas fa-check fa-lg"></i>
            <p>{{know}}</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="resume-footer"></footer>
</div>
