<div class="resume-container">
  <header class="resume-header"></header>
  <section class="resume">
    <header class="jointed">
      <p>r</p><span>esume</span>
    </header>
    <div class="row">
      <div class="col right-gradient">
        <div class="header">
          <i class="fas fa-briefcase fa-2x"></i>
          <p>EXPERIENCE</p>
        </div>
        <div class="row exp-detail">
          <div class="col col-12">
            <p class="date current">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
          <div class="col col-12">
            <p class="date">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
          <div class="col col-12">
            <p class="date">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="header">
          <i class="fas fa-graduation-cap fa-2x"></i>
          <p>EDUCATION</p>
        </div>
        <div class="row edu-detail">
          <div class="col col-12">
            <p class="date">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
          <div class="col col-12">
            <p class="date">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
          <div class="col col-12">
            <p class="date">2013 - Present</p>
            <p class="name">Art Director</p>
            <p class="company">Facebook Inc.</p>
            <p class="discription">
              Collaborate with creative and development teams on the execution of ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <header>
      <p>my</p><span>skills</span>
    </header>
    <div class="row">
      <div class="col col-6 right-gradient">
        <div class="header">
          <i class="far "></i>
          <i class="fas fa-object-group fa-2x"></i>
          <p>DESIGN</p>
        </div>
        <div class="row design">
          <div class="col col-12">
            <progress-bar [value]="80" [name]="'Web Design'" [type]="'bar'"></progress-bar>
          </div>
          <div class="col col-12">
            <progress-bar [value]="60" [name]="'Photo Editing'" [type]="'bar'"></progress-bar>
          </div>
          <div class="col col-12">
            <progress-bar [value]="65" [name]="'UI'" [type]="'bar'"></progress-bar>
          </div>
          <div class="col col-12">
            <progress-bar [value]="75" [name]="'Photography'" [type]="'bar'"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="header">
          <i class="fas fa-flag fa-2x"></i>
          <p>LANGUAGES</p>
        </div>
        <div class="row language">
          <div class="col col-12">
            <progress-bar [value]="70" [name]="'English'" [type]="'dots'"></progress-bar>
          </div>
          <div class="col col-12">
            <progress-bar [value]="100" [name]="'hindi'" [type]="'dots'"></progress-bar>
          </div>
          <div class="col col-12">
            <progress-bar [value]="80" [name]="'marathi'" [type]="'dots'"></progress-bar>
          </div>
          <!-- <div class="col col-12">
            <progress-bar [value]="67" [name]="'French'" [type]="'dots'"></progress-bar>
          </div> -->

        </div>
      </div>
      <div class="col col-6 right-gradient">
        <div class="header">
          <i class="fas fa-code fa-2x"></i>
          <p>CODING</p>
        </div>
        <div class="row coding">
          <div class="col col-5">
            <progress-bar [value]="70" [name]="'Angular'" [type]="'donut'"></progress-bar>
          </div>
          <div class="col col-5">
            <progress-bar [value]="70" [name]="'JavaScript'" [type]="'donut'"></progress-bar>
          </div>
          <div class="col col-5">
            <progress-bar [value]="80" [name]="'SCSS'" [type]="'donut'"></progress-bar>
          </div>
          <div class="col col-5">
            <progress-bar [value]="85" [name]="'HTML5 / CSS3'" [type]="'donut'"></progress-bar>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
      <div class="col col-6">
        <div class="header">
          <i class="fas fa-book fa-2x"></i>
          <p>KNOWLEDGE</p>
        </div>
        <ul class="knolagdge">
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Website hosting</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Mobile Responsive Website</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Animation</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Prototyping</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Web Application</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>logo Designe</p>
          </li>
          <li>
            <i class="fas fa-check fa-lg"></i>
            <p>Photoshop</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="resume-footer"></footer>
</div>
