<div class="blog-container">
  <div class="blog-header topGap"></div>
  <header>
    <p>Latest</p><span>Posts</span>
  </header>
  <main>
    <section *ngFor="let item of blogData">
      <div class="blog-image">
        <div class="image"[style.background-image]="'url(' + item.img + ')'"></div>
        <div class="date-box">
          <p>{{item.date[0].day}}</p>
          <span>{{item.date[1].month}}</span>
        </div>
      </div>
      <div class="text">
        <h5>{{item.detail}}</h5>
        <p>{{item.type}}</p>
      </div>
    </section>
    <!-- <section>
      <div class="blog-image">
        <div class="image"></div>
        <div class="date-box">
          <p>23</p>
          <span>Feb</span>
        </div>
      </div>
      <div class="text">
        <h5>Two Before Arrow Not Relied</h5>
        <p>Coding</p>
      </div>
    </section>
    <section>
      <div class="blog-image">
        <div class="image"></div>
        <div class="date-box">
          <p>22</p>
          <span>Jun</span>
        </div>
      </div>
      <div class="text">
        <h5>By spite about do of do allow blush</h5>
        <p>Travel</p>
      </div>
    </section> -->
  </main>
  <div class="blog-footer bottomGap"></div>
</div>
