<div class="user-container">
  <div class="user-image clippy">
    <img
      src="assets/img/person.png"
      alt="" class="">
  </div>
  <div class="user-details">
    <h1>{{userName}}</h1>
    <p>{{designetion}}</p>
    <ul>
      <li><i class="fab fa-dribbble"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-stack-overflow"></i></li>
    </ul>
    <div class="user-button">
      <div><a href="javascript:void(0)">
          <span class="btn-link-text">Download CV</span>
          <span class="btn-text-icon"><i class="fas fa-download"></i></span>
        </a></div>
      <div><a href="javascript:void(0)">
          <span class="btn-link-text">contact me</span>
          <span class="btn-text-icon"><i class="fas fa-id-card"></i></span>
        </a></div>
    </div>
  </div>
</div>
