<div class="work-container">
  <header>
  </header>
  <portfolio-gallery [config]="workList" [title]="'Recent Works'"></portfolio-gallery>
  <!-- <main>
    <div class="row">
      <div class="col">
        <div class="box-item">
          <div class="image">
            <a href="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&amp;show_artwork=true"
              class="has-popup-music">
              <img src="images/works/work3.jpg" alt="">
              <span class="info">
                <span class="ion ion-music-note"></span>
              </span>
            </a>
          </div>
          <div class="desc">
            <a href="#" class="name has-popup">Staircase</a>
            <div class="category">Music</div>
          </div>
        </div>
      </div>
    </div>
  </main> -->
  <footer>
  </footer>
</div>
